<!DOCTYPE html>
<html>
    <head>
        <title>Ciudadanos</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
        <div class="header">
            <h1>Ciudadanos</h1>
            <button onclick="addProduct()">Agregar</button>
        </div>
        <ul class="items-group">
            {% for ciudadano in ciudadanos %}
                <li {% for key, value in ciudadano.__dict__.items() %}
                        data-{{ key }}="{{ value }}"
                    {% endfor %}
                    ondblclick="showItem(this)">
                   <div class="card-item"> 
                        <div class="card-item__content">
                            <h3>Documento: {{ciudadano.Di}}</h3>
                            <p>Sexo: {{ciudadano.Sexo}}</p>
                            <span class="card-advice">Doble clic para ver</span>
                        </div>
                   </div>
                </li>
            {% endfor %}
        </ul>

        <div class="modal is-hidden">
            <div class="modal-background"></div>
            <div class="modal-response"></div>
            <div class="modal-content">
                <form id = "form-product">
                    <div class="modal-header">
                        <h2 class="modal-title">Vista de Ciudadano</h2>
                        <button class="modal-close" type="button" onclick="closeModal()">Cerrar</button>
                    </div>
                    <div class="form-element">
                        <span class="label"> Documento de Identidad </span>
                        <div class="form-input">
                            <span class="visible-data" name="di" ondblclick="showEditable(this)"></span>
                            <input class="data-input" name="di" type="text" autocomplete="off" value="" disabled ondblclick="hideEditable(this)">
                            <input type="hidden" class="is-hidden" id = "productId" name="document_id" value="">
                        </div>
                    </div>
                    <div class="form-element">
                        <span class="label"> Sexo </span>
                        <div class="form-input">
                            <span class="visible-data" name="sexo" ondblclick="showEditable(this)"></span>
                            <input class="data-input" name="sexo" type="text" value="" disabled ondblclick="hideEditable(this)">
                        </div>
                    </div>
                    <div class="form-element actions">
                        <div class="form-input">
                            <button onclick="deleteItem()" id='delete-button' type="button" value="Eliminar">
                                Eliminar
                            </button>
                        </div>
                        <div class="form-input">
                            <button onclick="updateItem()" id="update-button" type="button" value="Actualizar">
                                Actualizar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="{{ url_for('static',filename='scripts/ciudadanos.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
    </body>
</html>