<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="beneficios_economicos">Beneficios Social</a></li>
                <li><a href="beneficios_infancia">Beneficios Infancia</a></li>
                <li><a href="ciudadanos">Ciudadanos</a></li>
                <li><a href="colegios">Colegios</a></li>
                <li><a href="graph/beneficios">Grafico Beneficios</a></li>

            </ul>
        </nav>
    </body>
</html>